<p>product is working!</p>

<p>Username:{{username}}</p>

<p>Age:{{age}}</p>
<!-- 
<p>Languages:</p>

<ul>
    <li *ngFor="let lan of langs">{{lan}}</li>
</ul>

<ol>
    <li *ngFor="let lan of langs">{{lan}}</li>
</ol>

<select>
    <option *ngFor="let l of langs">{{l}}</option>
</select>

<ol>
    <li *ngFor="let pr of products">{{pr.id}}-{{pr.name}}-{{pr.price}}</li>
</ol>

<select>
    <option *ngFor="let pro of products">{{pro.name}}</option>
</select>

<table border="1">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
</tr>
<tr *ngFor="let p of products">
    <td >{{p.id}}</td>
    <td >{{p.name}}</td>
    <td >{{p.price}}</td>
</tr>
</table> -->
<button (click)="display()">Click</button>