<button class="btn btn-danger" (click)="logout()">Logout</button>

<table class='table'>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let p of products|paginate:{itemsPerPage:3,currentPage:p}">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.desc}}</td>
        <td>{{p.price}}</td>
        <td><a routerLink='/update' [state]="{product:p}" class="btn btn-info">Edit</a></td>
        <td><button (click)="deleteProduct(p.id)" class="btn btn-danger">Delete</button></td>
    </tr>
</table>

<pagination-controls (pageChange)="p=$event"></pagination-controls>
<a routerLink='/add' class="btn btn-primary">Add Product</a>
