<form [formGroup]="myForm">
Product ID
<input type="number" formControlName="id" [(ngModel)]="id1">
<div *ngFor="let u of error_messages.id">
    <div *ngIf="myForm.get('id').hasError(u.type)">
        <b style="color:red">{{u.message}}</b>
    </div>
    
</div>
Product Name
<input type="text" formControlName="name" [(ngModel)]="name1">
<div *ngFor="let u of error_messages.name">
    <div *ngIf="myForm.get('name').hasError(u.type)">
        <b style="color:red">{{u.message}}</b>
    </div>
    
</div>
Product Cost
<input type="text" formControlName="cost" [(ngModel)]="cost1">
<div *ngFor="let u of error_messages.cost">
    <div *ngIf="myForm.get('cost').hasError(u.type)">
        <b style="color:red">{{u.message}}</b>
    </div>
</div>
Product Online:
<div>
Yes
<input type="radio" value="yes" formControlName="online" [(ngModel)]="online1">
No
<input type="radio" value="no" formControlName="online" [(ngModel)]="online1">
<div *ngFor="let e of error_messages.online">
    <div *ngIf="myForm.get('online').hasError(e.type)">
        <b style="color:red">{{e.message}}</b>
    </div>
</div>
</div>
Product Category:
<div>
<select formControlName="category" [(ngModel)]="category1">
<option>Grocery</option>
<option>Mobile</option>
<option>Electronics</option>
<option>Clothes</option>
</select>
<div *ngFor="let e of error_messages.category">
    <div *ngIf="myForm.get('category').hasError(e.type)">
        <b style="color:red">{{e.message}}</b>
    </div>
</div>

</div>
Available in Store:
<input type="checkbox" value="bb" formControlName="store" [(ngModel)]="s1">Big Bazaar
<input type="checkbox" value="dm" formControlName="store" [(ngModel)]="s2">Dmart
<input type="checkbox" value="rl" formControlName="store" [(ngModel)]="s3">Reliance
<input type="checkbox" value="ms" formControlName="store" [(ngModel)]="s4">MegaStore
<div *ngFor="let e of error_messages.store">
    <div *ngIf="myForm.get('store').hasError(e.type) && (myForm.get('store').dirty)">
        <b style="color:red">{{e.message}}</b>
    </div>
</div>
<button (click)="onSubmit()">Add Product</button>

</form>

